* {
    font-family: 'Sen', sans-serif;
    box-sizing: border-box;
}

.navbar {
    margin: 0 auto;
    padding: 0;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232536;
}

.navbar-ul div {
    margin: 1rem 4rem;
}

.navbar-li {
    float: right;
}

.navbar-li a,
button,
h2 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    margin: 8px 10px;
    font-size: 20px;
}

.navbar-title {
    font-size: 30px;
    padding-top: 8px;
    padding-bottom: 14px;
}

.navbar-li button {
    width: 179px;
    height: 56px;
    margin: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-button-a {
    color: #232536;
}


.main-content {
    width: 100%;
    text-align: center;
}


#home-image {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

.image-main-content {
    max-width: 100%;
    height: auto;
}

.text-main-content {
    display: block;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.text-main-content h2 {
    padding-left: 45%;
    font-size: 1vw;
    text-align: left;
}

.text-main-content h1 {
    margin-top: 5%;
    color: white;
    padding-left: 45%;
    text-align: left;
    font-size: 3.5vw;
}

.text-main-content p {
    color: white;
    text-align: left;
    padding-left: 45%;
    padding-right: 10%;
    font-size: 1.5vw;
}

.text-main-content-button {
    position: absolute;
    top: 110%;
    right: 43.25%;
    width: 10.5vw;
    transform: translateY(-50%);
    background-color: #FFD050;
    color: black;
}

.text-main-content-button:hover {
    background: #EDC14A;
}

.home-posts {
    display: flex;
    flex-flow: row wrap;
    margin: 8vw 4vw;
}

.home-featured-post {
    width: 60%;
}

.border-featured-post {
    border: 1px solid rgba(109, 110, 118, 0.3);
}

.container-post-title {
    font-size: 1.75vw;
}

.div-featured-post-img {
    overflow: hidden;
    width: 900px;
}

.featured-post-img {
    width: 100%;
    padding: 5vw;
}

.image-description {
    margin-left: 5vw;
    margin-top: -9vw;
}

.post-title {
    font-size: 2vw;
    padding-left: 5vw;
    padding-right: 1.3vw;
}

.post-subtitle {
    color: #6D6E76;
    padding-left: 5vw;
}

.post-button {
    margin-left: 5vw;
    background-color: #FFD050;
    color: #232536;
    width: 13vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.post-button:hover {
    background: #EDC14A;
}

.home-all-posts {
    width: 40%;
}

.all-posts {
    padding: 2vw;
}

.post-content .p-post-content {
    font-size: 1.8vw;
    border: 1vw;
    padding: 1vw;
}

.post-content .date-post-content {
    margin-bottom: -2vw;
    padding-left: 1vw;
    padding-top: 1vw;
}

.post-content:hover {
    background: #FBF6EA;
}